<h1>{{ 'side_nav.home' | translate }}</h1>
<div class="dashboard-cards">
  <div *ngFor="let data of navData()">
    <a [routerLink]="['/' + data.routeLink]">
      <div class="dashboard-card">
        <i class="{{data.icon}}"></i>
        <p>{{ data.label | translate }}</p>
      </div>
    </a>
  </div>
</div>

<div class="app-instructions">
  <h2>{{ 'app_instructions.title' | translate }}</h2>
  <ol>
    <li [innerHTML]="'app_instructions.step_1' | translate"></li>
    <li [innerHTML]="'app_instructions.step_2' | translate"></li>
    <li [innerHTML]="'app_instructions.step_3' | translate"></li>
    <li [innerHTML]="'app_instructions.step_4' | translate"></li>
  </ol>
</div>
