h1 {
  margin-bottom: 5rem;
}

.credentials-container {
  max-width: 500px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container */
}

.wide-input {
  width: 100%;
}

.credential-input {
  margin-bottom: 2.5rem;
}

.small-hint {
  font-size: 12px;
  color: gray;
}


