<h1>{{"credentials.credentials" | translate}}</h1>
<mat-tab-group class="credentials-container" dynamicHeight>
  <mat-tab label="SAP CPI">
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 8px;">cloud</mat-icon>
      <span>{{"SAP CPI" | translate}}</span>
    </ng-template>
    <app-sap-cpi></app-sap-cpi>
  </mat-tab>
  <mat-tab label="Github">
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 8px;">code</mat-icon>
      <span>{{"GitHub" | translate}}</span>
    </ng-template>
    <app-github-credentials></app-github-credentials>
  </mat-tab>
  <mat-tab label="Jenkins">
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 8px;">build</mat-icon>
      <span>{{"Jenkins" | translate}}</span>
    </ng-template>
    <app-jenkins-credentials></app-jenkins-credentials>
  </mat-tab>
  <mat-tab label="All Credentials">
    <ng-template mat-tab-label>
      <mat-icon style="margin-right: 8px;">done_all</mat-icon>
      <span>{{"All credentials" | translate}}</span>
    </ng-template>
    <app-all-credentials></app-all-credentials>
  </mat-tab>
</mat-tab-group>
