<h1>Flows</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Package Column -->
  <ng-container matColumnDef="package">
    <th mat-header-cell *matHeaderCellDef> Package </th>
    <td mat-cell *matCellDef="let element"> {{element.package}} </td>
  </ng-container>

  <!-- Flow Id Column -->
  <ng-container matColumnDef="flowId">
    <th mat-header-cell *matHeaderCellDef> Flow Id </th>
    <td mat-cell *matCellDef="let element"> {{element.flowId}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element"> {{element.actions}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
