<h1>{{"rules.rules" | translate}}</h1>

<mat-tab-group class="rules-container" dynamicHeight>
  <mat-tab label="Rule File">
    <ng-template mat-tab-label>
      <i class="fas fa-file-alt" style="margin-right: 8px;"></i>
      <span>Create new Rule</span>
    </ng-template>
    <app-rulefiles></app-rulefiles>
  </mat-tab>
  <mat-tab label="All Rules">
    <ng-template mat-tab-label>
      <i class="fas fa-file-alt" style="margin-right: 8px;"></i>
      <span>{{"rules.all_rules" | translate}}</span>
    </ng-template>
    <app-all-rule-files></app-all-rule-files>
  </mat-tab>
</mat-tab-group>

