<form [formGroup]="form" (ngSubmit)="submit()" #formDirective="ngForm">

  <!-- Name Input -->
  <p class="credential-input">
    <mat-form-field appearance="outline" floatLabel="always" class="wide-input">
      <mat-label>{{"credentials.jenkins.name"| translate}}</mat-label>
      <input matInput [placeholder]="'credentials.jenkins.name' | translate" formControlName="name">
      <mat-icon matSuffix>description</mat-icon>
      <mat-hint
        class="small-hint">{{"credentials.example"| translate}} {{"credentials.jenkins.ex_name"| translate}}</mat-hint>
    </mat-form-field>
  </p>

  <!-- Username Input -->
  <p class="credential-input">
    <mat-form-field appearance="outline" floatLabel="always" class="wide-input">
      <mat-label>{{"credentials.jenkins.username"| translate}}</mat-label>
      <input matInput [placeholder]="'credentials.jenkins.username' | translate" formControlName="username">
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint class="small-hint">{{"credentials.example"| translate}} {{"credentials.jenkins.ex_username"| translate}}
      </mat-hint>
    </mat-form-field>
  </p>

  <!-- Access Token Input -->
  <p class="credential-input">
    <mat-form-field appearance="outline" floatLabel="always" class="wide-input">
      <mat-label>{{"credentials.jenkins.access_token"| translate}}</mat-label>
      <input matInput [placeholder]="'credentials.jenkins.access_token' | translate" formControlName="accessToken"
             [type]="hideAccessToken ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hideAccessToken = !hideAccessToken"
              [attr.aria-label]="'Hide access token'"
              [attr.aria-pressed]="hideAccessToken">
        <mat-icon>{{ hideAccessToken ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint class="small-hint">
        {{"credentials.example"| translate}} {{"credentials.jenkins.ex_access_token"| translate}}
      </mat-hint>
    </mat-form-field>
  </p>

  <!-- Submit Button -->
  <div class="btn-container">
    <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">
      {{ editMode() ? translate.instant("credentials.update") : translate.instant("credentials.create")  }}
    </button>

    <button type="button" [disabled]="!credentialsSig()" mat-raised-button color="warn" (click)="onDelete()">
      {{"credentials.delete"| translate}}
    </button>
  </div>
</form>
