<form [formGroup]="form" (ngSubmit)="submit()" #formDirective="ngForm">

  <!-- Name Input -->
  <p class="credential-input">
    <mat-form-field appearance="outline" floatLabel="always" class="wide-input">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter Name" formControlName="name">
      <mat-icon matSuffix>description</mat-icon>
      <mat-hint class="small-hint">ex: cpi_credentials</mat-hint>
    </mat-form-field>
  </p>

  <!-- Username Input -->
  <p class="credential-input">
    <mat-form-field appearance="outline" floatLabel="always" class="wide-input">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter Username" formControlName="username">
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint class="small-hint">ex: joaoei25
      </mat-hint>
    </mat-form-field>
  </p>

  <!-- Access Token Input -->
  <p class="credential-input">
    <mat-form-field appearance="outline" floatLabel="always" class="wide-input">
      <mat-label>Access Token</mat-label>
      <input matInput placeholder="Enter Access Token" formControlName="accessToken"
             [type]="hideAccessToken ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hideAccessToken = !hideAccessToken"
              [attr.aria-label]="'Hide access token'"
              [attr.aria-pressed]="hideAccessToken">
        <mat-icon>{{ hideAccessToken ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint class="small-hint">ex:
        sajdsjkdkjdfckjdabcasiodx
      </mat-hint>
    </mat-form-field>
  </p>

  <!-- Submit Button -->
  <div class="btn-container">
    <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">
      {{ editMode() ? 'Update' : 'Create' }}
    </button>

    <button type="button" [disabled]="!credentialsSig()" mat-raised-button color="warn" (click)="onDelete()">
      Delete
    </button>
  </div>
</form>
