<div class="header-container">
  <i class="fab fa-jenkins"></i>
  <h2><span>{{ 'package.enable_jenkins' | translate }}</span></h2>
  <button class="go-back-button" (click)="closeDialog()">
    <i class="fa fa-window-close" aria-hidden="true"></i>
  </button>
</div>

<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="enableJenkins()">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'rules.select_cpi_rule' | translate }}</mat-label>
      <mat-select formControlName="selectedRuleFile">
        <mat-option *ngFor="let ruleFile of ruleFiles" [value]="ruleFile.fileName">
          {{ ruleFile.fileName }}
        </mat-option>
      </mat-select>
      <mat-icon>file</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'rules.select_codenarc_rule' | translate }}</mat-label>
      <mat-select formControlName="selectedCodenarcFile">
        <mat-option *ngFor="let codenarcFile of codenarcFiles" [value]="codenarcFile.fileName">
          {{ codenarcFile.fileName }}
        </mat-option>
      </mat-select>
      <mat-icon>file</mat-icon>
    </mat-form-field>

    <button mat-raised-button class="submitBtn" type="submit" color="primary">
      {{ 'buttons.submit' | translate }}
    </button>

  </form>
</div>

