<form [formGroup]="form" (ngSubmit)="register()">
  <div class="form-container">
    <mat-card-title class="register-title larger-text">{{"registerPage.register" | translate}}</mat-card-title>
    <hr class="line">

    <mat-form-field>
      <input type="text" matInput [placeholder]="'loginPage.email' | translate" formControlName="email">
    </mat-form-field>

    <span *ngIf="!form.controls['email'].valid && form.controls['email']?.touched" class="error">
      {{ "loginPage.invalidEmail" | translate }}
    </span>

    <mat-form-field>
      <input type="password" matInput [placeholder]="'loginPage.password' | translate" formControlName="password">
    </mat-form-field>

    <span *ngIf="!form.controls['password'].valid && form.controls['password']?.touched" class="error">
      {{  "loginPage.invalidPassword" | translate  }}
    </span>

    <mat-form-field>
      <input type="text" matInput [placeholder]="'registerPage.firstName' | translate" formControlName="firstName">
    </mat-form-field>

    <span *ngIf="!form.controls['firstName'].valid && form.controls['firstName']?.touched" class="error">
      {{  "registerPage.firstNameRequired" | translate  }}
    </span>

    <mat-form-field>
      <input type="text" matInput [placeholder]="'registerPage.lastName' | translate" formControlName="lastName">
    </mat-form-field>

    <span *ngIf="!form.controls['lastName'].valid && form.controls['lastName']?.touched" class="error">
      {{  "registerPage.lastNameRequired" | translate  }}
    </span>

    <p *ngIf="error" class="error">
      {{ error }}
    </p>

    <div class="button-container">
      <button type="submit" [disabled]="!form.valid" mat-button>{{"registerPage.register" | translate}}</button>
      <button type="button" routerLink="/login" mat-button>{{"loginPage.login" | translate}}</button>
    </div>
  </div>
</form>
