:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 90%;
  max-width: 400px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

mat-form-field {
  width: 100%;
}

.register-title {
  position: absolute;
  top: -220px;
  left: 50%;
  transform: translateX(-50%);
}

.larger-text {
  font-size: 70px;
}

.line {
  border: 1px solid black;
  width: calc(100% + 640px);
  margin: -120px -400px 50px;
  position: relative;
}

.error {
  color: red;
  margin-top: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background: blue;
  color: white;
  display: flex;
  justify-content: center;
  font-size: medium;
  padding: 30px;
}

button span {
  margin-right: 120px;
}

button:disabled {
  color: white !important;
  background: blue;
}
