<div class="header-container">
  <i class="fas fa-folder-open"></i>
  <h2>{{"package.details" | translate}}: <span>{{ packageId }}</span></h2>
  <button class="go-back-button" (click)="goBack()">
    <i class="fas fa-arrow-left"></i>
  </button>
</div>

<div class="additional-info-container">
  <div class="info-item">
    <i class="fas fa-font"></i>
    <p class="info-text">{{"package.name" | translate}}: <span class="highlight">{{ packageDetails.name  }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-user"></i>
    <p class="info-text">{{"package.created_by" | translate}}: <span class="highlight">{{ packageDetails.createdBy }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-calendar"></i>
    <p class="info-text">{{"package.creation_date" | translate}}: <span class="highlight">{{ packageDetails.creationDate }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-file-alt"></i>
    <p class="info-text">{{"package.description" | translate}}: <span class="highlight">{{packageDetails. description }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-id-card"></i>
    <p class="info-text">{{"package.id" | translate}}: <span class="highlight">{{ packageDetails.id }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-cogs"></i>
    <p class="info-text">Mode: <span class="highlight">{{ packageDetails.mode }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-pencil-alt"></i>
    <p class="info-text">Modified By: <span class="highlight">{{packageDetails.modifiedBy }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-calendar-check"></i>
    <p class="info-text">{{"package.modified_date" | translate}}: <span class="highlight">{{ packageDetails.modifiedDate }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-cube"></i>
    <p class="info-text">{{"package.partner_content" | translate}}: <span class="highlight">{{ packageDetails.partnerContent ? 'Yes' : 'No' }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-cube"></i>
    <p class="info-text">{{"package.resource_id" | translate}}: <span class="highlight">{{ packageDetails.resourceId }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-font"></i>
    <p class="info-text">{{"package.short_text" | translate}}: <span class="highlight">{{ packageDetails.shortText }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-desktop"></i>
    <p class="info-text">{{"package.supported_platform" | translate}}: <span class="highlight">{{ packageDetails.supportedPlatform }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-arrow-up"></i>
    <p class="info-text">{{"package.update_available" | translate}}: <span class="highlight">{{ packageDetails.updateAvailable ? 'Yes' : 'No' }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-industry"></i>
    <p class="info-text">{{"package.vendor" | translate}}: <span class="highlight">{{ packageDetails.vendor }}</span></p>
  </div>

  <div class="info-item">
    <i class="fas fa-code"></i>
    <p class="info-text">{{"package.version" | translate}}: <span class="highlight">{{ packageDetails.version }}</span></p>
  </div>
</div>


<h4>{{"package.flows" | translate}}</h4>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> {{"package.number" | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{"package.name" | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Version Column -->
    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef> {{"package.version" | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.version}} </td>
    </ng-container>

    <!-- ModifiedBy Column -->
    <ng-container matColumnDef="modifiedBy">
      <th mat-header-cell *matHeaderCellDef> {{"package.modified_by" | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.modifiedBy}} </td>
    </ng-container>

    <!-- ModifiedDate Column -->
    <ng-container matColumnDef="modifiedDate">
      <th mat-header-cell *matHeaderCellDef> {{"package.modified_date" | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.modifiedDate}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> {{"package.actions" | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <button class="open-flow-btn" mat-icon-button (click)="openFlow(element)" matTooltip= "{{'package.open_flow' | translate}}">
          <i class="fas fa-project-diagram"></i>
        </button>
        <button class="open-flow-btn" mat-icon-button (click)="downloadFlow(element)" matTooltip="{{'package.download_flow' | translate}}">
          <i class="fa fa-download" aria-hidden="true"></i>
        </button>
        <button class="open-flow-btn" mat-icon-button (click)="enableJenkins(element)" matTooltip="{{'package.enable_jenkins' | translate}}">
          <i class="fab fa-jenkins" aria-hidden="true"></i>
        </button>
      </td>
    </ng-container>


    <!-- Header and Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>

  <!-- Paginator -->
  <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
