spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/CPILint_GA
    username: root
    password: Root1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always

---
jwtSecret: sdfhvciusdhfmnsakid54w23"$#rgedskasadkasbdf283721438#$fdfjsdf0q394
jwtExpirationMs: 432000000